<html xmlns:th="http://www.thymeleaf.org">
<th:block>
    <a class="nav-link text-white active h5" href="/">Home</a>
    <div class="collapse navbar-collapse d-flex justify-content-end">
        <ul class="navbar-nav row">
            <li class="nav-item col-md-4">
                <a class="nav-link text-white active font-weight-bold" href="/login">Login</a>
            </li>
            <li class="nav-item col-md-4">
                <a class="nav-link text-white active font-weight-bold" href="/register">Register</a>
            </li>
        </ul>
    </div>
</th:block>
</html>
